main {
  align-items: center;
  background-image: url('assets/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Varela Round', sans-serif;
  height: 100%;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  width: 100%;
}

header h1 {
  font-size: 40px;
  font-variant-caps: all-small-caps;
  letter-spacing: 10px;
  margin: 10px;
}

p,
a {
  color: #8c9398;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 25px;
  text-align: center;
  word-spacing: 1px;
}

header h1 span {
  color: #a1a9b0;
}

article section {
  display: flex;
  flex-direction: column;
}

article section controls {
  outline:none;
}

article .buttons {
  align-self: center;
}

article select {
  background: transparent;
  border: 1.5px solid rgba(140,147,152, 0.1);
  color: #8c9398;
  margin-top: 5%;
  padding: 15px;
  transition: all 350ms ease;
}

article select:hover,
article select:focus,
article select:active {
  border: 1.5px solid rgba(140,147,152, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  transition: all 350ms ease;
}

article button {
  background: rgba(61, 201, 179, 1);
  border-radius: 5px;
  border: 1px solid rgba(255,255,225,0.1);
  box-shadow: 0px 3px 0px 0px #309383;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 60px 0 0;
  padding: 20px 40px;
  text-transform: uppercase;
}

article button:hover,
article button:focus,
article button:active {
  background: rgba(61, 201, 179, 0.9);
  cursor: pointer;
}