main {
  align-items: center;
  background-image: url('assets/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Varela Round', sans-serif;
  height: 100%;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  width: 100%;
}

header h1 {
  font-size: 40px;
  font-variant-caps: all-small-caps;
  letter-spacing: 10px;
  margin: 10px;
  text-align: center;
}

p,
a {
  color: #8c9398;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 25px;
  text-align: center;
  word-spacing: 1px;
}

header h1 span {
  color: #a1a9b0;
}

article section {
  display: flex;
  flex-direction: column;
}

article section controls {
  outline:none;
}

article .buttons {
  align-self: center;
}

article select {
  background: transparent;
  border: 1.5px solid rgba(140,147,152, 0.1);
  color: #8c9398;
  margin-top: 5%;
  padding: 15px;
  transition: all 350ms ease;
}

article #result {
  font-size: 17px;
}

article select:hover,
article select:focus,
article select:active {
  border: 1.5px solid rgba(140,147,152, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  transition: all 350ms ease;
}

article button {
  background: rgba(61, 201, 179, 1);
  border-radius: 5px;
  border: 1px solid rgba(255,255,225,0.1);
  box-shadow: 0px 3px 0px 0px #309383;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 20px 40px;
  text-transform: uppercase;
}

article button:hover,
article button:focus,
article button:active {
  background: rgba(61, 201, 179, 0.9);
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  left: 1%;
}

footer p:first-child {
  padding-right: 15px;
}

footer a,
footer p {
  color: #000;
  text-indent: 0;
  text-shadow: 0 0 10px #fff;
  text-decoration: none;
}

footer a,
footer p,
footer i {
  font-size: 15px;
}

footer a:hover {
  opacity: 0.5;
}


@media only screen and (max-width: 533px) {
  select {
    margin: 0 auto;
    width: 73%;
  }

  .buttons {
    padding: 20px;
  }

  button {
    width: 100%;
  }

  button:last-child {
    margin-top: 10%;
  }
}